<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> adminHeader}}
    <div class="container py-5" style="position: fixed; top: 6%; margin-left: 80%;">
        <p style="margin-bottom: 0%;"><label>Sort By:</label></p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <form method="post" action='/admin/viewCategoryDetail/'>
                <input type="hidden" name="idCategory" value="{{idCategory}}">
                <input type="hidden" name="sortBy" value="like" />
                <button type="submit" class="btn btn-secondary">Most Likes</button>
            </form>
            <form method="post" action='/admin/viewCategoryDetail'>
                <input type="hidden" name="idCategory" value="{{idCategory}}">
                <input type="hidden" name="sortBy" value="comment" />
                <button type="submit" class="btn btn-secondary">Most Comments</button>
            </form>
            <form method="post" action='/admin/viewCategoryDetail'>
                <input type="hidden" name="idCategory" value="{{idCategory}}">
                <input type="hidden" name="sortBy" value="time" />
                <button type="submit" class="btn btn-secondary">Lastest Time</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col" style="margin: 5% 30%;">
            <p id="demo" hidden>{{listFiles.length}}</p>
            {{#each listFiles}}
            <div class="container py-5" style="margin-bottom: 3% ; background-color: rgba(147, 160, 181, 0.481);">
                <div class="row">
                    <div class="col">
                        <div class="row" style="margin-left: 1px;">
                            <ul class="list-group mt-99 text-white">
                                <li class="list-group-item d-flex justify-content-between align-content-center"
                                    style="width: 700px">
                                    <div class="d-flex flex-row"> <img
                                            src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40"
                                            height="60" />
                                        <div class="ml-1">
                                            <h1 class="mb-0">{{idea.name}}</h1>
                                            <ul>
                                                {{#each value}}
                                                <li>
                                                    <p><a href="../../{{../this.linkValue}}/{{this}}">{{this}}</a></p>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div style="font-weight: 900; font-size: 1.2rem; margin-top: 3px; border: none;">
                                    {{idea.comments.length}} Comments
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="btn " style="font-size: 15px; border: none;" /disabled>
                                            <i class="fa fa-thumbs-up"></i>
                                            <i>{{idea.like}}</i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="btn " type="submit" style="font-size: 15px; border: none;"
                                            /disabled>
                                            <i class="fa fa-thumbs-down"></i>
                                            <i>{{idea.dislike}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="well" style="width: 700px">
                            <button class="see-less" style=" font-size: 1.2rem; border: none; color: #3e5745; ">See
                                Less...</button>
                            <button class="see-more" style=" font-size: 1.2rem; border: none; color:#3e5745; ">Read more
                                comments...</button>

                            {{#each idea.comments}}
                            <div class="user-comment-box" style="border-bottom: 1px dotted #ccc; display:none;">
                                <p class="pull-right"><small>
                                        <script>
                                            var d1 = new Date("{{this.time}}");
                                            var d2 = Date.now();
                                            var diff = Math.floor((d2 - d1) / 1000 / 60)
                                            if (diff < 60) {
                                                document.write(diff + " minutes ago");
                                            } else {

                                                diff = Math.floor(diff / 60);
                                                if (diff < 24) {
                                                    document.write(diff + " hours ago");
                                                } else {
                                                    diff = Math.floor(diff / 24);
                                                    if (diff < 365) {
                                                        document.write(diff + " days ago");
                                                    }
                                                    else {
                                                        diff = Math.floor(diff / 365);
                                                        document.write(diff + " years ago");
                                                    }
                                                }
                                            }
                                        </script>
                                    </small></p>
                                <div class="media-body">
                                    <p style="margin-top: 5px; font-size:large;">{{this.comment}}</p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</body>
<script>
    $(function () {

        $(".see-more").click(function (e) { // click event for load more
            e.preventDefault();
            $(this).siblings(".user-comment-box:hidden").slice(-4).show(); // select next 5 hidden divs and show them
            if ($(this).siblings(".user-comment-box:hidden").length == 0) { // check if any hidden divs
                $(this).hide(); // if there are none left
            }
        });
        $(".see-less").click(function (e) { // click event for load more
            e.preventDefault();
            $(this).siblings(".user-comment-box").hide();
            $(this).siblings(".see-more").show();
        });
    });
</script>

</html>