<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> adminHeader}}

    <div class="row">
        <div class="col" style="margin: 5% 30%;">
            {{#each listFiles}}
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <div class="row" style="margin-left: 1px;">
                            <ul class="list-group mt-99 text-white">
                                <li class="list-group-item d-flex justify-content-between align-content-center"
                                    style="width: 700px">
                                    <div class="d-flex flex-row"> <img
                                            src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40"
                                            height="60" />
                                        <div class="ml-1">
                                            <h1 class="mb-0">{{idea.name}}</h1>
                                            <ul>
                                                {{#each value}}
                                                <li>
                                                    <p><a href="../../{{../this.linkValue}}/{{this}}">{{this}}</a></p>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div style="font-weight: 900; font-size: 1.2rem; margin-top: 3px; border: none;">
                                    {{idea.comments.length}} Comments
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <form class="form" class="m-lg-2" method="POST" action="/staff/addLike">
                                            <input type="hidden" name="idCategory" value="{{../idCategory}}">
                                            <input type="hidden" name="ideaID" value="{{idea._id}}">
                                            <button class="btn btn-outline-secondary" type="submit"
                                                style="font-size: 15px; border: none;">
                                                <i class="fa fa-thumbs-up"></i>
                                                <i>{{idea.like}}</i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col">
                                        <form class="form" class="m-lg-2" method="POST" action="/staff/addDislike">
                                            <input type="hidden" name="idCategory" value="{{../idCategory}}">
                                            <input type="hidden" name="ideaID" value="{{idea._id}}">
                                            <button class="btn btn-outline-secondary" type="submit"
                                                style="font-size: 15px; border: none;">
                                                <i class="fa fa-thumbs-down"></i>
                                                <i>{{idea.dislike}}</i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="well" style="width: 700px">
                            <h4>Comments... <span class="glyphicon glyphicon-comment"></span></h4>
                            {{#each idea.comments}}
                            <div style="border-bottom: 1px dotted #ccc;">
                                <p class="pull-right"><small>
                                        <script>
                                            var d1 = new Date("{{this.time}}");
                                            var d2 = Date.now();
                                            var diff = Math.floor((d2 - d1) / 1000 / 60)
                                            if (diff < 60) {
                                                document.write(diff + " minutes ago");
                                            } else {

                                                diff = Math.floor(diff / 60);
                                                if (diff < 24) {
                                                    document.write(diff + " hours ago");
                                                } else {
                                                    diff = Math.floor(diff / 24);
                                                    if (diff < 365) {
                                                        document.write(diff + " days ago");
                                                    }
                                                    else {
                                                        diff = Math.floor(diff / 365);
                                                        document.write(diff + " years ago");
                                                    }
                                                }
                                            }  
                                        </script>
                                    </small></p>
                                <div class="media-body">
                                    <p style="margin-top: 5px; font-size:large;">{{this.comment}}</p>
                                </div>
                            </div>
                            {{!-- <textarea class="form-control" name="comment" row="3">{{this.comment}}</textarea> --}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{!-- <div class="col" style="margin-left: -15%; width: 500px">
            <h4>List Comments of {{nameIdea}} <span class="glyphicon glyphicon-comment"></span></h4>
            {{#each listComment}}
            <div class="well" style="width: 500px">
                <div class="form-group">
                    <textarea class="form-control" name="comment" row="3">{{this.comment}}</textarea>
                </div>
                </form>
            </div>
            {{/each}}
        </div> --}}
    </div>
    <script>
        var d1 = new Date("06/30/2019");
        var d2 = Date.now();
        document.getElementById("demo").innerHTML = d2;   
    </script>
</body>

</html>