<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> staffHeader}}
    <div class="container py-5" style="margin-top: 3%; margin-left: 15%">
        <div class="form-group">
            {{#if compare}}
            <a href="/staff/addIdea?id={{idCategory}}" class="btn btn-success" style="margin-left: 5%;" disabled>
                <span class="glyphicon glyphicon-plus"></span>
                <span><strong>Add new Idea</strong></span>
            </a>
            {{else}}
            <a href="/staff/addIdea?id={{idCategory}}" class="btn btn-success" style="margin-left: 5%;">
                <span class="glyphicon glyphicon-plus"></span>
                <span><strong>Add new Idea</strong></span>
            </a>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-left: 15%; width: 1000px">
            {{#each listFiles}}
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <ul class="list-group mt-99 text-white" style="width: 500px">
                            <li class="list-group-item d-flex justify-content-between align-content-center"
                                style="width: 500px">
                                <div class="d-flex flex-row"> <img
                                        src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                                    <div class="ml-2">
                                        <h1 class="mb-0">{{name}}</h1>
                                        <ul>
                                            {{#each value}}
                                            <li>
                                                <p><a href="../../{{../this.linkValue}}/{{this}}">{{this}}</a></p>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col" >
                        <div class="btn-group align-top">
                            <form method="post" action='/staff/viewCategoryDetail'>
                                <input type="hidden" name="idCategory" value="{{../idCategory}}">
                                <input type="hidden" name="idIdea" value="{{id}}" />
                                <button type="submit" class="btn btn-outline-warning" style="font-weight: 900; font-size: 1.2rem; margin-left: -75%; margin-top: 10%;">Read {{comment}} Comment</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="well" style="width: 500px">
                    <h4>Comments... <span class="glyphicon glyphicon-comment"></span></h4>
                    <form method="post" action='/staff/viewCategoryDetail/Comment'>
                        <input type="hidden" name="idCategory" value="{{../idCategory}}">
                        <input type="hidden" name="idIdea" value="{{id}}" />
                        <div class="form-group">
                            <textarea class="form-control" name="comment" row="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col" style="margin-left: -15%; width: 500px">
            <h4>List Comments of {{nameIdea}} <span class="glyphicon glyphicon-comment"></span></h4>
            {{#each listComment}}
            <div class="well" style="width: 500px">
                    <div class="form-group">
                        <textarea class="form-control" name="comment" row="3">{{this.comment}}</textarea>
                    </div>
                </form>
            </div>
            {{/each}}
        </div>
    </div>
</body>


</html>