<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> staffHeader}}
    <div class="container py-5" style="margin-top: 3%; margin-left: 15%">
        <div class="form-group">
            <a href="/staff/addIdea?id={{idCategory}}" class="btn btn-success" style="margin-left: 5%;">
                <span class="glyphicon glyphicon-plus"></span>
                <span><strong>Add new Idea</strong></span>
            </a>
        </div>
    </div>
    <div class="container py-5" style="margin-top: 3%; margin-left: 15%">
        {{#each listFiles}}
        <div class="bg-white border mt-2">

            <h1>{{linkValue}}</h1>
            <p> Open a PDF file <a href="../../{{linkValue}}/{{value}}" >{{value}}</a>.</p>
        </div>
        {{/each}}
    </div>
</body>


</html>